{% extends 'layout.html' %} {% block body %}



<div id="google_translate_element"></div>
<div class="container py-2 mx-auto my-50 h-10 text-center" style="margin: 9rem;">
  <div class="row">
    <div class="col-sm py-2 py-md-3">
      <div class="card card-body" style="justify-content: center; background-color:blanchedalmond">
        <h1 class="text-center" style="color: black; font-size: 20px;"><b>Sorry your request can'nt be processed right now <br> Please try again</b></h1>


        <a href="{{ url_for('home') }}">
          <button type="submit" class="btn btn-info text-center" style="
        color: black;
        font-weight: bold;
        margin: 1rem;">
            Try again
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% endblock %}